/*Reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: 18px;
}

h1{
    text-align: center;
}

/*Styles main container*/
.container{
    display: flex;
    /*flex-direction coumn*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(145, 255, 0);
    width: 100%;
    height: 400px;
}
/*style item*/
.item{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: aqua;
    padding: 5px;
    border-radius: 8px;
    margin:  5px;
    overflow: hidden;
}