/*Reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: 18px;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    border-radius: 9px;
    row-gap: 5px;
    background-color: rgb(209, 15, 15);
    width:100%;
    height: auto;
}

.item{
    width: 200px;
    height:200px;
    background-color: black;
    color: rgb(111, 0, 255);
    padding: 8px;
    border-radius: 9px;
    overflow: hidden;
}
.container .item:nth-child(1){
    grid-column: 4;
}

.container .item:nth-child(2){
    grid-column: 3;
    grid-row: 2;
}

.container .item:nth-child(3){
    grid-column: 2;
    grid-row: 3;
}

.container .item:nth-child(4){
    grid-column: 1;
    grid-row: 4;
}
